<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <article class="fas fa-credit-card">
          <h2>Pague com cartão ou Pix</h2>
          <p>
            Com o Mercado Livre Cash, você tem prestações em juros com cartão,
            dinheiro ou PIX! Com total segurança!
          </p>
        </article>
      </div>
      <div class="col-12 col-lg-4">
        <article class="footer-data">
          <i class="fas fa-gift"></i>
          <h2>Frete grátis a partir de R$99</h2>
          <p>
            Assinando nossa Newsletter você garante 20% nas 3 primeiras compras
            + frete grátis! <a src="#">Inscreva-se!</a>
          </p>
        </article>
      </div>
      <div class="col-12 col-lg-4">
        <article class="fas fa-user-shield">
          <h2>Segurança a todo momento!</h2>
          <p>
            Não gostou? Não serviu? Não tem problema! No Mercado Livre não há
            limites ao que você possa fazer! Devoluções de Graça! No Mercado
            Livre você está sempre protegido!
          </p>
        </article>
      </div>
    </div>
  </div>
</footer>
<div class="sub-footer">
  <div class="container">
    <p>Todos os direitos reservados © 1999-2019 MercadoLiebre</p>
  </div>
</div>
